{% extends "layout.html.twig" %}
{% block content %}

<div id="stage02">
    <div id="wrapper">
        
        <header class="clearfix">
            <h3>unliked page</h3>  
	</header>

       
                    
  
    
	<!--[if lt IE 7 ]>
	<script src="js/libs/dd_belatedpng.js"></script>
	<script> DD_belatedPNG.fix('.png_bg');</script>
	<![endif]-->
	
</div>
{% endblock %}